* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

html,
body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
  background-image: url("../assets/images/pageBg.jpg");
  background-repeat: round;
  background-size: contain;

  display: flex;
  flex-direction: column;
}

/* Hero Section */

.heroSection {
  background-image: url("../assets/images/mountMg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: 0 3px 10px #969697;

  margin-bottom: 45vh;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.hs-content {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.hs-content .titleCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: fit-content;

  margin: 5px auto;
}

.hs-content .titleCard h1 {
  font-weight: bolder;
  font-size: 5.5rem;
  background: linear-gradient(
    0deg,
    rgb(155, 186, 245) 0%,
    rgba(247, 249, 255, 1) 35%,
    rgba(247, 249, 255, 1) 61%,
    rgba(155, 186, 245) 83%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hs-content p {
  font-size: 1.5rem;
  color: #172b53;
  font-weight: 700;
  margin-top: -15px;
}

/* Navigation */

.heroSection .navigation {
  display: flex;
  padding-right: 20px;
  padding-top: 10px;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  flex-wrap: wrap;

  font-size: 17px;
  color: #ffffff;
  font-weight: 500;
}

.navigation ul li {
  cursor: pointer;
}

/* Trek Lists */

.featured-treks,
.reviews,
.agencies {
  display: flex;
  flex-direction: column;
  margin-bottom: 30vh;

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.featured-treks h1,
.reviews h1 {
  font-weight: bolder;
  font-size: 42px;
  margin-bottom: 30px;
}

.featured-treks .trek-list,
.agencies .agency-list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.review-list .review-card {
  transition: all 0.5s ease-out;
}

.review-list {
  margin: 0 50px;
}

.reviews .review-list .review-card:hover {
  scale: 1.09;
}

/* ABOUT US */

.about-us {
  margin-bottom: 30vh;
}

.about-us .content {
  background-image: url("../assets/images/trekking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;

  padding: 5px;
  height: 90vh;
  margin: 8px;
}

.about-us .content ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  list-style-type: none;

  padding: 10px;
  margin-top: -80px;
}

.about-us .content p {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.29);
  width: 35em;
  text-align: start;
  font-size: 20px;
  border-radius: 15px;
}
