.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  margin: 30px;
  gap: 0.5rem;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background-color: #e2e8f0;
  width: 24rem;
  height: fit-content;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #cbd5e1;
}

.form-title {
  font-size: 1.875rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 0.75rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-field {
  padding: 0.75rem 0.5rem;
  border: 1px solid #9ca3af;
  border-radius: 0.375rem;
  width: 100%;
  outline: none;
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

.input-field:focus {
  outline: 1px solid #7c3aed;
  box-shadow: 0 0 5px rgba(124, 58, 237, 0.3);
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .contact-form {
    width: 90%;
    padding: 2rem;
  }

  .form-title {
    font-size: 1.75rem;
  }

  .input-field {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .contact-form {
    width: 95%;
    padding: 1.8rem;
  }

  .form-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .input-field {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-form {
    width: 100%;
    padding: 1.5rem;
  }

  .form-title {
    font-size: 1.4rem;
    text-align: center;
  }

  .input-field {
    font-size: 0.9rem;
    padding: 0.65rem;
  }
}
