.trek-management-container {
  display: flex;
  min-height: 100vh;
}

.trek-management-navbar {
  height: auto;
  min-height: 100vh;
  padding: 0;
  flex: 0 1 auto;
}

.trek-main-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  height: 100vh;
}

.trek-main-content .table-container {
  margin-bottom: 5vh;
}

.trek-management-container .sidebar #treks p {
  color: blueviolet;
  font-weight: 700;
}

.trek-management-container .sidebar #treks {
  pointer-events: none;
}

/* Ensure the sidebar and main content stack properly on small screens */
@media screen and (max-width: 1024px) {
  .trek-management-navbar {
    min-height: auto;
    height: auto;
  }

  .trek-main-content {
    margin-top: 60px; /* Offset for fixed sidebar */
    height: calc(100vh - 60px);
    padding: 16px;
  }
}

@media screen and (max-width: 768px) {
  .trek-management-container {
    flex-direction: column;
  }
  .trek-management-navbar {
    min-height: auto;
  }

  .trek-main-content {
    padding: 16px;
  }

  .table-container {
    overflow-x: auto;
    max-width: 100%;
  }

  .trek-main-content .table-container table {
    min-width: 600px; /* Prevents table from breaking on small screens */
  }
}

@media screen and (max-width: 480px) {
  .trek-management-container {
    flex-direction: column;
  }

  .trek-management-navbar {
    width: 100%;
    height: auto;
    min-height: 200px;
  }
  .trek-main-content {
    padding: 10px;
  }

  .trek-management-container .sidebar #treks p {
    font-size: 14px;
  }

  .trek-main-content .table-container table {
    min-width: 100%;
  }

  .trek-main-content .table-container .rdt_Table {
    font-size: 14px; /* Reduce font size for better readability */
  }
}
