.trek-management-container {
  display: flex;
  min-height: 100vh;
}

.trek-management-container .trek-management-navbar {
  height: auto;
  min-height: 100vh;
  padding: 0;
  flex: 0 1 auto;
}

.table-container {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  height: 100vh;
}

.trek-management-container .sidebar #treks a {
  color: blueviolet;
  font-weight: 700;
}

.trek-management-container .sidebar #treks {
  pointer-events: none;
}
